<a href="https://colab.research.google.com/github/jiho4399/contests/blob/master/%EC%B9%98%EC%95%88%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B3%B5%EB%AA%A8%EC%A0%84/code/02_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/contest/AF_contest/data/'

Mounted at /content/drive

# 전처리
- 좌표가 0이거나 결측인것 제거 
  - 주소가 나와있다면 검색해서 할당할 것인가?
  - 중복데이터가 있다면?
- 중복데이터 처리
- 시간대 범주화

In [ ]:
data = pd.read_csv(path + 'data.csv')
data

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,HOUR,MINUTE,SECOND,HOUR_CAT,SEASON,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,8,17,50,아침,겨울,2020-12-01,0,0,0,TUE
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,3,24,26,새벽,겨울,2020-12-01,0,0,0,TUE
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,7,37,18,아침,겨울,2020-12-01,0,0,0,TUE
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,7,8,44,아침,겨울,2020-12-01,0,0,0,TUE
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,7,9,20,아침,겨울,2020-12-01,0,0,0,TUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426102,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,...,0,20,7,새벽,가을,2020-11-22,0,0,0,SUN
426103,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,0,40,8,새벽,가을,2020-11-22,0,0,0,SUN
426104,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,...,0,57,19,새벽,가을,2020-11-22,0,0,0,SUN
426105,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,0,37,53,새벽,가을,2020-11-22,0,0,0,SUN
426106,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,...,0,15,22,새벽,가을,2020-11-22,0,0,0,SUN

## 1. 결측

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430597 entries, 0 to 430596
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NPA_CL         430597 non-null  int64
 1   EVT_STAT_CD    430597 non-null  int64
 2   EVT_CL_CD      430597 non-null  int64
 3   RPTER_SEX      430597 non-null  object
 4   HPPN_PNU_ADDR  421041 non-null  object
 5   HPPN_X         426770 non-null  float64
 6   HPPN_Y         426770 non-null  float64
 7   SME_EVT_YN     142981 non-null  object
 8   YEAR           430597 non-null  int64
 9   MONTH          430597 non-null  int64
 10  DAY            430597 non-null  int64
 11  HOUR           430597 non-null  int64
 12  MINUTE         430597 non-null  int64
 13  SECOND         430597 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 46.0+ MB

- HPPN_PNU_ADDR(발생지점), HPPN_X(발생좌표 X), HPPN_Y(발생좌표 Y)에서 결측 발견
  - 주소나 좌표가 나와있다면 검색해서 할당
- SME_EVT_YN(중복 여부)
  - 중복여부를 나타낸 것이기 때문에 결측이 미치는 영향이 크진 않음

### 1. 좌표

### 좌표가 결측

In [ ]:
xnull = data[data['HPPN_X'].isnull()]
xnull

In [ ]:
xnull[xnull['HPPN_Y'].isnull()]

In [ ]:
ynull = data[data['HPPN_Y'].isnull()]
ynull

In [ ]:
ynull[ynull['HPPN_X'].isnull()]

- HPPN_X이 결측인 데이터 모두 HPPN_Y도 결측인 것이 확인됨
- HPPN_Y이 결측인 데이터 모두 HPPN_X도 결측인 것이 확인됨


---

- 정확한 주소를 알 수 없으므로 제거

In [ ]:
data.dropna(subset=['HPPN_X'], inplace=True)
data

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,HOUR,MINUTE,SECOND,HOUR_CAT,SEASON,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,8,17,50,아침,겨울,2020-12-01,0,0,0,TUE
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,3,24,26,새벽,겨울,2020-12-01,0,0,0,TUE
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,7,37,18,아침,겨울,2020-12-01,0,0,0,TUE
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,7,8,44,아침,겨울,2020-12-01,0,0,0,TUE
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,7,9,20,아침,겨울,2020-12-01,0,0,0,TUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426102,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,...,0,20,7,새벽,가을,2020-11-22,0,0,0,SUN
426103,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,0,40,8,새벽,가을,2020-11-22,0,0,0,SUN
426104,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,...,0,57,19,새벽,가을,2020-11-22,0,0,0,SUN
426105,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,0,37,53,새벽,가을,2020-11-22,0,0,0,SUN
426106,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,...,0,15,22,새벽,가을,2020-11-22,0,0,0,SUN

In [ ]:
# 인덱스 재배정
data.reset_index(drop=True, inplace=True)
data

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426765,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,22,0,20,7
426766,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,40,8
426767,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,22,0,57,19
426768,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,37,53
426769,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,22,0,15,22

### 좌표가 0인 데이터 처리
- 주소 결측 제거
- 주소를 알 수 있을 경우 검색하여 결측 채우기

In [ ]:
data.drop(data[(data['HPPN_X'] == 0.000000) & data['HPPN_PNU_ADDR'].isna()].index, inplace=True)
data

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426765,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,22,0,20,7
426766,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,40,8
426767,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,22,0,57,19
426768,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,37,53
426769,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,22,0,15,22

In [ ]:
data.to_csv(path + 'data.csv', index=False)

- 주소 채워넣기

In [ ]:
data = pd.read_csv(path + 'data.csv')
data

In [ ]:
data_2 = data.copy()

In [ ]:
l = []
for col_name, item in data_2.iteritems():
  if col_name == 'HPPN_PNU_ADDR':
    for i in item:
      l.append(len(str(i)))

In [ ]:
ADDR_LEN = pd.DataFrame({'ADDR_LEN':l}).set_index(data_2.index)
ADDR_LEN

        ADDR_LEN
0             30
1             26
2             32
3             23
4             26
...          ...
426102        26
426103        24
426104        29
426105        24
426106        27

[426107 rows x 1 columns]

In [ ]:
data_2 = pd.concat([data_2, ADDR_LEN], axis = 1)
data_2

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,MINUTE,SECOND,HOUR_CAT,SEASON,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY,ADDR_LEN
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,17,50,아침,겨울,2020-12-01,0,0,0,TUE,30
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,24,26,새벽,겨울,2020-12-01,0,0,0,TUE,26
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,37,18,아침,겨울,2020-12-01,0,0,0,TUE,32
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,8,44,아침,겨울,2020-12-01,0,0,0,TUE,23
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,9,20,아침,겨울,2020-12-01,0,0,0,TUE,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426102,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,...,20,7,새벽,가을,2020-11-22,0,0,0,SUN,26
426103,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,40,8,새벽,가을,2020-11-22,0,0,0,SUN,24
426104,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,...,57,19,새벽,가을,2020-11-22,0,0,0,SUN,29
426105,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,...,37,53,새벽,가을,2020-11-22,0,0,0,SUN,24
426106,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,...,15,22,새벽,가을,2020-11-22,0,0,0,SUN,27

#### 주소 깔끔하게 정리
  - (ㅇㅇ동) 없애기

In [ ]:
ADDR_split_1 = data_2.HPPN_PNU_ADDR.str.split('(')
ADDR_split_1

0           [충청남도 천안시 서북구 성정동, 행정:성정2동) 1259]
1               [대전광역시 유성구 봉명동, 행정:온천1동) 575]
2         [충청남도 천안시 서북구 성환읍 성월리, 행정:성환읍) 150]
3                  [대전광역시 중구 석교동, 석교동) 85-14]
4               [대전광역시 중구 석교동, 행정:석교동) 88-11]
                         ...
426102          [대전광역시 중구 오류동, 행정:오류동) 175-2]
426103            [대전광역시 동구 신흥동, 행정:신인동) 212]
426104       [충청남도 천안시 서북구 불당동, 행정:불당동) 1540]
426105            [대전광역시 동구 신흥동, 행정:신인동) 212]
426106         [충청남도 천안시 동남구 안서동, 신안동) 산16-5]
Name: HPPN_PNU_ADDR, Length: 426107, dtype: object

In [ ]:
data_2['ADDR_1'], data_2['ADDR_2'] = (ADDR_split_1.str.get(0), ADDR_split_1.str.get(1))
data_2.head()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,HOUR_CAT,SEASON,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY,ADDR_LEN,ADDR_1,ADDR_2
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,아침,겨울,2020-12-01,0,0,0,TUE,30,충청남도 천안시 서북구 성정동,행정:성정2동) 1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,새벽,겨울,2020-12-01,0,0,0,TUE,26,대전광역시 유성구 봉명동,행정:온천1동) 575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,아침,겨울,2020-12-01,0,0,0,TUE,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍) 150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,아침,겨울,2020-12-01,0,0,0,TUE,23,대전광역시 중구 석교동,석교동) 85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,아침,겨울,2020-12-01,0,0,0,TUE,26,대전광역시 중구 석교동,행정:석교동) 88-11

In [ ]:
ADDR_split2 = data_2.ADDR_2.str.split(')')
ADDR_split2

0         [행정:성정2동,  1259]
1          [행정:온천1동,  575]
2           [행정:성환읍,  150]
3            [석교동,  85-14]
4         [행정:석교동,  88-11]
                ...
426102    [행정:오류동,  175-2]
426103      [행정:신인동,  212]
426104     [행정:불당동,  1540]
426105      [행정:신인동,  212]
426106       [신안동,  산16-5]
Name: ADDR_2, Length: 426107, dtype: object

In [ ]:
data_2['ADDR_2'], data_2['ADDR_3'] = (ADDR_split2.str.get(0), ADDR_split2.str.get(1))
data_2.head()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,SEASON,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,겨울,2020-12-01,0,0,0,TUE,30,충청남도 천안시 서북구 성정동,행정:성정2동,1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,겨울,2020-12-01,0,0,0,TUE,26,대전광역시 유성구 봉명동,행정:온천1동,575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,겨울,2020-12-01,0,0,0,TUE,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍,150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,겨울,2020-12-01,0,0,0,TUE,23,대전광역시 중구 석교동,석교동,85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,겨울,2020-12-01,0,0,0,TUE,26,대전광역시 중구 석교동,행정:석교동,88-11

In [ ]:
data_2['CLEAN_ADDR'] = data_2['ADDR_1'] + ' ' + data_2['ADDR_3']
data_2.head()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,...,DATE,HOLIDAY,SEOLLAL,CHUSEOK,WEEK_DAY,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,...,2020-12-01,0,0,0,TUE,30,충청남도 천안시 서북구 성정동,행정:성정2동,1259,충청남도 천안시 서북구 성정동 1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,...,2020-12-01,0,0,0,TUE,26,대전광역시 유성구 봉명동,행정:온천1동,575,대전광역시 유성구 봉명동 575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,...,2020-12-01,0,0,0,TUE,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍,150,충청남도 천안시 서북구 성환읍 성월리 150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,...,2020-12-01,0,0,0,TUE,23,대전광역시 중구 석교동,석교동,85-14,대전광역시 중구 석교동 85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,...,2020-12-01,0,0,0,TUE,26,대전광역시 중구 석교동,행정:석교동,88-11,대전광역시 중구 석교동 88-11

In [ ]:
for index, item in data_2.iterrows():
  if str(item['CLEAN_ADDR']) == 'nan':
    data_2.loc[index,'CLEAN_ADDR'] = item['ADDR_1']

- 주소 처리 완료
  - 좌표 결측인 데이터 중 주소가 너무 짧거나 이상한 데이터 제거 후
  - 구글 api로 좌표 채우기

In [ ]:
# 주소처리까지 완료된 데이터 저장
data_2.to_csv(path + 'data_2.csv', index=False)

# 23.02.04 여기서부터 시작
- 주소 정리까지 했고(data_2) xy_na 불러서
  - data_2를 df로 불렀고, df_test로 copy해서 진행
- CLEAN_ADDR 길이 15 미만 제외
  - 15까지 주소 길이를 확인한 결과, 유의미한 주소가 15길이 이상부터 나타나기 시작함
- CLEAN_ADDR에 '방향', '부근', 'ic', 'TC', '터널', '분기점' 들어가있으면 제외

In [ ]:
df = pd.read_csv(path + 'data_2.csv')
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50,30,충청남도 천안시 서북구 성정동,행정:성정2동,1259,충청남도 천안시 서북구 성정동 1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26,26,대전광역시 유성구 봉명동,행정:온천1동,575,대전광역시 유성구 봉명동 575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍,150,충청남도 천안시 서북구 성환읍 성월리 150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44,23,대전광역시 중구 석교동,석교동,85-14,대전광역시 중구 석교동 85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20,26,대전광역시 중구 석교동,행정:석교동,88-11,대전광역시 중구 석교동 88-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426102,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,22,0,20,7,26,대전광역시 중구 오류동,행정:오류동,175-2,대전광역시 중구 오류동 175-2
426103,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,40,8,24,대전광역시 동구 신흥동,행정:신인동,212,대전광역시 동구 신흥동 212
426104,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,22,0,57,19,29,충청남도 천안시 서북구 불당동,행정:불당동,1540,충청남도 천안시 서북구 불당동 1540
426105,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,37,53,24,대전광역시 동구 신흥동,행정:신인동,212,대전광역시 동구 신흥동 212
426106,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,22,0,15,22,27,충청남도 천안시 동남구 안서동,신안동,산16-5,충청남도 천안시 동남구 안서동 산16-5

In [ ]:
# 주소는 있지만 좌표가 없는 데이터
xy_na = df[df['HPPN_X'] == 0.000000]
xy_na

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285824,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 604-1,0.0,0.0,NaN,20,1,1,17,13,22,28,대전광역시 유성구 봉명동,행정:온천1동,604-1,대전광역시 유성구 봉명동 604-1
285928,19,10,406,3,충청남도 천안시 동남구 신방동(신방동) 40,0.0,0.0,Y,20,1,1,1,18,25,24,충청남도 천안시 동남구 신방동,신방동,40,충청남도 천안시 동남구 신방동 40
286005,19,10,403,1,논산방향,0.0,0.0,NaN,20,1,1,22,28,58,4,논산방향,NaN,NaN,논산방향
286055,19,10,402,1,논산방향,0.0,0.0,NaN,20,1,1,12,31,40,4,논산방향,NaN,NaN,논산방향
286080,19,10,401,1,부산방향,0.0,0.0,NaN,20,1,1,13,11,27,4,부산방향,NaN,NaN,부산방향
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376285,19,10,401,2,성흥로 75,0.0,0.0,NaN,20,8,6,14,6,23,6,성흥로 75,NaN,NaN,성흥로 75
376314,19,10,401,1,.,0.0,0.0,NaN,20,8,6,9,31,23,1,.,NaN,NaN,.
376326,19,10,401,1,논산방향,0.0,0.0,NaN,20,8,6,7,31,17,4,논산방향,NaN,NaN,논산방향
376345,19,10,401,1,부산방향,0.0,0.0,NaN,20,8,6,14,52,24,4,부산방향,NaN,NaN,부산방향
376350,19,10,401,1,회덕방향,0.0,0.0,NaN,20,8,6,5,22,21,4,회덕방향,NaN,NaN,회덕방향

- 제외한 데이터, 사용할 데이터 등 모든 데이터 인덱스 살려서 컬럼명 명확히 해서 저장해놓기
  - 그래야 data_2에 적용시킬 수 있음

In [ ]:
df_test = df.copy()
df_test.head()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50,30,충청남도 천안시 서북구 성정동,행정:성정2동,1259,충청남도 천안시 서북구 성정동 1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26,26,대전광역시 유성구 봉명동,행정:온천1동,575,대전광역시 유성구 봉명동 575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍,150,충청남도 천안시 서북구 성환읍 성월리 150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44,23,대전광역시 중구 석교동,석교동,85-14,대전광역시 중구 석교동 85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20,26,대전광역시 중구 석교동,행정:석교동,88-11,대전광역시 중구 석교동 88-11

# data_2(df)
- del_len15 삭제
- nonxy 삭제

In [ ]:
clean_addr = df_test[['HPPN_X', 'CLEAN_ADDR', 'ADDR_LEN']]
clean_addr = clean_addr[clean_addr['HPPN_X'] == 0.000000]
clean_addr

        HPPN_X            CLEAN_ADDR  ADDR_LEN
285824     0.0  대전광역시 유성구 봉명동  604-1        28
285928     0.0  충청남도 천안시 동남구 신방동  40        24
286005     0.0                  논산방향         4
286055     0.0                  논산방향         4
286080     0.0                  부산방향         4
...        ...                   ...       ...
376285     0.0                성흥로 75         6
376314     0.0                     .         1
376326     0.0                  논산방향         4
376345     0.0                  부산방향         4
376350     0.0                  회덕방향         4

[2832 rows x 3 columns]

In [ ]:
del_len15 = clean_addr[clean_addr['ADDR_LEN'] < 15]
del_len15

        HPPN_X CLEAN_ADDR  ADDR_LEN
286005     0.0       논산방향         4
286055     0.0       논산방향         4
286080     0.0       부산방향         4
286104     0.0       논산방향         4
286107     0.0       천안방향         4
...        ...        ...       ...
376285     0.0     성흥로 75         6
376314     0.0          .         1
376326     0.0       논산방향         4
376345     0.0       부산방향         4
376350     0.0       회덕방향         4

[2328 rows x 3 columns]

- df_test : 426017에서 423779로 줄어듦

In [ ]:
df_test = df_test.drop(index = del_len15.index)
df_test.shape

(423779, 19)

- 주소의 길이가 15 미만인 데이터 제외하고 좌표 찾기

In [ ]:
find_xy = clean_addr.drop(index = del_len15.index)
find_xy

        HPPN_X                   CLEAN_ADDR  ADDR_LEN
285824     0.0         대전광역시 유성구 봉명동  604-1        28
285928     0.0         충청남도 천안시 동남구 신방동  40        24
286098     0.0  충청북도 청주시 흥덕구 옥산면 장남리  283-8        34
286136     0.0        대전광역시 동구 소제동  299-212        28
286163     0.0           대전광역시 서구 변동  61-24        21
...        ...                          ...       ...
375315     0.0     충청남도 홍성군 홍성읍 오관리  627-16        28
375884     0.0      충청남도 천안시 동남구 구성동  470-6        27
376008     0.0            충청남도 천안시 동남구 신부동         24
376040     0.0      충청남도 천안시 동남구 신부동  494-1        30
376041     0.0      충청남도 천안시 동남구 신부동  494-1        30

[504 rows x 3 columns]

##### 구글 API

In [ ]:
idx = find_xy.index
len(idx)

504

In [ ]:
# 라이브러리 설치
!pip install googlemaps

In [ ]:
# import 라이브러리
import googlemaps
import pandas as pd
from tqdm import tqdm

In [ ]:
# API키 입력
mykey = "AIzaSyD-9zbRjOW_EFIv2EX3osKsg77O-XjchSA"
maps = googlemaps.Client(key=mykey)  # my key값 입력

# 위도,경도 변환하는 함수 생성
def trans_geo(addr):
    try:
        geo_location = maps.geocode(addr)[0].get('geometry')
        lat = geo_location['location']['lat']
        lng =  geo_location['location']['lng']
        return [lat,lng]
    except:
        return [0,0]

# 실행
for idx, addr in zip(idx, tqdm(find_xy.CLEAN_ADDR)):
    find_xy.loc[idx,'latitude'] = trans_geo(addr)[0]
    find_xy.loc[idx,'longitude'] = trans_geo(addr)[1]

100%|█████████▉| 503/504 [00:44<00:00, 11.33it/s]

In [ ]:
find_xy

        HPPN_X                   CLEAN_ADDR  ADDR_LEN   latitude   longitude
285824     0.0         대전광역시 유성구 봉명동  604-1        28  36.359214  127.343036
285928     0.0         충청남도 천안시 동남구 신방동  40        24  36.790575  127.131883
286098     0.0  충청북도 청주시 흥덕구 옥산면 장남리  283-8        34  36.716378  127.349332
286136     0.0        대전광역시 동구 소제동  299-212        28  36.334579  127.438814
286163     0.0           대전광역시 서구 변동  61-24        21  36.326941  127.377596
...        ...                          ...       ...        ...         ...
375315     0.0     충청남도 홍성군 홍성읍 오관리  627-16        28  36.599722  126.658610
375884     0.0      충청남도 천안시 동남구 구성동  470-6        27  36.796482  127.159201
376008     0.0            충청남도 천안시 동남구 신부동         24  36.824764  127.163390
376040     0.0      충청남도 천안시 동남구 신부동  494-1        30  36.819405  127.159987
376041     0.0      충청남도 천안시 동남구 신부동  494-1        30  36.819405  127.159987

[504 rows x 5 columns]

In [ ]:
# 좌표 찾은거 저장
find_xy.to_csv(path + 'xy_geo_gapi.csv', index=False)

In [ ]:
check_fill_idx = df_test[df_test['HPPN_X'] == 0.000000].index
idx = find_xy.index

In [ ]:
for i in idx:
  df_test.loc[i, 'HPPN_Y'] = find_xy.loc[i, 'latitude']
  df_test.loc[i, 'HPPN_X'] = find_xy.loc[i, 'longitude']

df_test.loc[check_fill_idx]

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285824,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 604-1,127.343036,36.359214,NaN,20,1,1,17,13,22,28,대전광역시 유성구 봉명동,행정:온천1동,604-1,대전광역시 유성구 봉명동 604-1
285928,19,10,406,3,충청남도 천안시 동남구 신방동(신방동) 40,127.131883,36.790575,Y,20,1,1,1,18,25,24,충청남도 천안시 동남구 신방동,신방동,40,충청남도 천안시 동남구 신방동 40
286098,19,10,403,1,충청북도 청주시 흥덕구 옥산면 장남리(행정:옥산면) 283-8,127.349332,36.716378,NaN,20,1,1,10,53,26,34,충청북도 청주시 흥덕구 옥산면 장남리,행정:옥산면,283-8,충청북도 청주시 흥덕구 옥산면 장남리 283-8
286136,13,10,401,1,대전광역시 동구 소제동(행정:중앙동) 299-212,127.438814,36.334579,NaN,20,1,2,15,5,36,28,대전광역시 동구 소제동,행정:중앙동,299-212,대전광역시 동구 소제동 299-212
286163,13,10,401,1,대전광역시 서구 변동(변동) 61-24,127.377596,36.326941,NaN,20,1,2,15,35,34,21,대전광역시 서구 변동,변동,61-24,대전광역시 서구 변동 61-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375315,19,10,406,3,충청남도 홍성군 홍성읍 오관리(홍성읍) 627-16,126.658610,36.599722,NaN,20,6,28,22,20,2,28,충청남도 홍성군 홍성읍 오관리,홍성읍,627-16,충청남도 홍성군 홍성읍 오관리 627-16
375884,19,10,401,1,충청남도 천안시 동남구 구성동(청룡동) 470-6,127.159201,36.796482,NaN,20,7,26,22,46,0,27,충청남도 천안시 동남구 구성동,청룡동,470-6,충청남도 천안시 동남구 구성동 470-6
376008,19,10,406,1,충청남도 천안시 동남구 신부동(행정:신안동),127.163390,36.824764,NaN,20,6,28,21,34,18,24,충청남도 천안시 동남구 신부동,행정:신안동,NaN,충청남도 천안시 동남구 신부동
376040,19,10,401,1,충청남도 천안시 동남구 신부동(행정:신안동) 494-1,127.159987,36.819405,NaN,20,6,30,11,29,50,30,충청남도 천안시 동남구 신부동,행정:신안동,494-1,충청남도 천안시 동남구 신부동 494-1
376041,19,10,401,1,충청남도 천안시 동남구 신부동(행정:신안동) 494-1,127.159987,36.819405,NaN,20,6,30,11,30,45,30,충청남도 천안시 동남구 신부동,행정:신안동,494-1,충청남도 천안시 동남구 신부동 494-1

- 구글 API로도 좌표를 찾지 못한 데이터(nonxy)
  - 17개 삭제

In [ ]:
nonxy = df_test.loc[check_fill_idx]
nonxy = nonxy[nonxy['HPPN_X'] == 0.000000]

- 426017에서 423779에서 423762개

In [ ]:
nonxy.shape

(17, 19)

In [ ]:
df_test.drop(index = nonxy.index, inplace=True)
df_test.shape

(423762, 19)

In [ ]:
df_test[df_test['HPPN_X'] == 0.000000]

Empty DataFrame
Columns: [NPA_CL, EVT_STAT_CD, EVT_CL_CD, RPTER_SEX, HPPN_PNU_ADDR, HPPN_X, HPPN_Y, SME_EVT_YN, YEAR, MONTH, DAY, HOUR, MINUTE, SECOND, ADDR_LEN, ADDR_1, ADDR_2, ADDR_3, CLEAN_ADDR]
Index: []

#### 좌표 전처리 완료 저장

In [ ]:
df_test.to_csv(path + 'xy_clear.csv', index=False)

#### 주소가 결측

In [ ]:
xy_clear = pd.read_csv(path + 'xy_clear.csv')
xy_clear

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50,30,충청남도 천안시 서북구 성정동,행정:성정2동,1259,충청남도 천안시 서북구 성정동 1259
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26,26,대전광역시 유성구 봉명동,행정:온천1동,575,대전광역시 유성구 봉명동 575
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18,32,충청남도 천안시 서북구 성환읍 성월리,행정:성환읍,150,충청남도 천안시 서북구 성환읍 성월리 150
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44,23,대전광역시 중구 석교동,석교동,85-14,대전광역시 중구 석교동 85-14
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20,26,대전광역시 중구 석교동,행정:석교동,88-11,대전광역시 중구 석교동 88-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423757,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,22,0,20,7,26,대전광역시 중구 오류동,행정:오류동,175-2,대전광역시 중구 오류동 175-2
423758,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,40,8,24,대전광역시 동구 신흥동,행정:신인동,212,대전광역시 동구 신흥동 212
423759,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,22,0,57,19,29,충청남도 천안시 서북구 불당동,행정:불당동,1540,충청남도 천안시 서북구 불당동 1540
423760,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,37,53,24,대전광역시 동구 신흥동,행정:신인동,212,대전광역시 동구 신흥동 212
423761,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,22,0,15,22,27,충청남도 천안시 동남구 안서동,신안동,산16-5,충청남도 천안시 동남구 안서동 산16-5

- 주소 결측인 데이터 : 7165개
- 주소 결측이면서 위도경도 0 인 데이터 없음
- 위도 경도 결측인 데이터는 위에서 제거함
- 결론적으로 주소가 필요한 것이 아닌 좌표 기준으로 사고를 처리하므로 주소를 채울 필요는 없음

In [ ]:
addr_na = xy_clear[xy_clear['HPPN_PNU_ADDR'].isnull()]
addr_na

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
93,13,10,401,2.0,NaN,127.404663,36.341685,NaN,20,12,1,14,28,47,3,NaN,NaN,NaN,NaN
101,13,10,401,1.0,NaN,127.404663,36.341685,NaN,20,12,1,14,45,13,3,NaN,NaN,NaN,NaN
102,13,10,401,2.0,NaN,127.404663,36.341685,NaN,20,12,1,14,24,6,3,NaN,NaN,NaN,NaN
112,13,10,403,2.0,NaN,127.404663,36.341685,NaN,20,12,1,10,56,50,3,NaN,NaN,NaN,NaN
157,13,10,403,3.0,NaN,127.404663,36.341685,NaN,20,12,1,17,35,49,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365661,19,10,403,1,NaN,127.149722,37.006111,NaN,20,7,6,18,51,3,3,NaN,NaN,NaN,NaN
365750,19,10,402,2,NaN,126.191890,36.690215,NaN,20,7,2,9,33,23,3,NaN,NaN,NaN,NaN
371340,19,10,401,1,NaN,126.191890,36.690215,NaN,20,7,9,17,18,24,3,NaN,NaN,NaN,NaN
371621,19,10,401,1,NaN,126.191890,36.690215,NaN,20,7,7,13,12,2,3,NaN,NaN,NaN,NaN
373350,19,10,401,1,NaN,127.115589,36.853546,NaN,20,7,26,18,4,29,3,NaN,NaN,NaN,NaN

# 2. 중복데이터
- xy_clear 불러서 하면 됨

In [ ]:
d_data = pd.read_csv(path + 'xy_clear.csv')
d_data = d_data.sort_values(by=['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'])
d_data

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285956,19,10,406,1,충청남도 공주시 정안면 어물리(정안면) 33-2,127.148714,36.605751,Y,20,1,1,0,3,11,26,충청남도 공주시 정안면 어물리,정안면,33-2,충청남도 공주시 정안면 어물리 33-2
285958,19,10,403,1,충청남도 논산시 채운면 장화리(채운면) 533,127.030921,36.164643,NaN,20,1,1,0,18,8,25,충청남도 논산시 채운면 장화리,채운면,533,충청남도 논산시 채운면 장화리 533
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285959,19,10,402,1,충청남도 천안시 서북구 불당동(불당동) 204-4,127.109667,36.815468,NaN,20,1,1,0,20,4,27,충청남도 천안시 서북구 불당동,불당동,204-4,충청남도 천안시 서북구 불당동 204-4
285805,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,20,1,1,0,21,35,29,대전광역시 유성구 봉명동,행정:온천1동,541-26,대전광역시 유성구 봉명동 541-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284019,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,23,38,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,Y,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6
284028,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741930,36.868214,Y,23,1,18,23,34,30,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6
284031,13,10,406,2.0,대전광역시 서구 월평동 (월평1동 ) 1526,127.357785,36.355010,NaN,23,1,18,23,35,52,25,대전광역시 서구 월평동,월평1동,1526,대전광역시 서구 월평동 1526
284345,19,10,406,1.0,충청남도 아산시 모종동 (온양3동 ) 661,127.019848,36.778266,NaN,23,1,18,23,59,40,24,충청남도 아산시 모종동,온양3동,661,충청남도 아산시 모종동 661

## 1차 제거
- xy_addr_clear 불러서 시작
- 연, 월, 일, 시간, 주소가 같으면 완전일치 동일 사건이라고 인식하고 제거함

In [ ]:
d1_data = d_data.copy()
d1_data = d1_data.sort_values(by=['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'])
d1_data

In [ ]:
d1_data_test = d1_data.copy()
del_same = d1_data_test[d1_data_test['SME_EVT_YN'] == 'Y']
del_same = del_same.sort_values(by=['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'])
del_same

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285956,19,10,406,1,충청남도 공주시 정안면 어물리(정안면) 33-2,127.148714,36.605751,Y,20,1,1,0,3,11,26,충청남도 공주시 정안면 어물리,정안면,33-2,충청남도 공주시 정안면 어물리 33-2
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285960,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,21,54,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285951,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,Y,20,1,1,0,49,49,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285952,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,Y,20,1,1,0,50,58,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284018,13,10,406,3.0,대전광역시 유성구 궁동 (행정:온천2동 ) 408-15,127.350775,36.362439,Y,23,1,18,23,10,21,30,대전광역시 유성구 궁동,행정:온천2동,408-15,대전광역시 유성구 궁동 408-15
283983,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,21,42,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284019,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,23,38,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,Y,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6
284028,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741930,36.868214,Y,23,1,18,23,34,30,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6

### 주소 기준 설정

In [ ]:
del_same_fillter = pd.DataFrame({'result': del_same.duplicated(['YEAR', 'MONTH', 'DAY', 'HOUR', 'CLEAN_ADDR'], keep = False)})
check_d_true = del_same_fillter[del_same_fillter['result'] == True]
check_d_true

        result
285957    True
285960    True
285951    True
285952    True
285924    True
...        ...
284001    True
283983    True
284019    True
284014    True
284028    True

[34576 rows x 1 columns]

In [ ]:
del_same_fillter_2 = pd.DataFrame({'result': del_same.duplicated(['YEAR', 'MONTH', 'DAY', 'HOUR', 'HPPN_PNU_ADDR'], keep = False)})
check_d_true_2 = del_same_fillter_2[del_same_fillter_2['result'] == True]
check_d_true_2

        result
285957    True
285960    True
285951    True
285952    True
285924    True
...        ...
285766    True
283983    True
284019    True
284014    True
284028    True

[33542 rows x 1 columns]

In [ ]:
test_2 = del_same.loc[check_d_true_2.index] # 33

In [ ]:
test_1 = del_same.loc[check_d_true.index] # 34

In [ ]:
def GetDifferences(df1, df2):
  df = pd.concat([df1, df2]).reset_index(drop=True)
  idx = [diff[0] for diff in df.groupby(list(df.columns)).groups.values() if len(diff) == 1]
  return df.reindex(idx)

In [ ]:
test_result = GetDifferences(test_1, test_2).sort_values(by=['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'])
test_result.head(30)

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
51,19,10,401,1,세종특별자치시 세종시 조치원읍 번암리(조치원읍) 78-1,127.294189,36.588684,Y,20,1,2,20,25,49,31,세종특별자치시 세종시 조치원읍 번암리,조치원읍,78-1,세종특별자치시 세종시 조치원읍 번암리 78-1
52,19,10,401,1,세종특별자치시 세종시 조치원읍 번암리(행정:조치원읍) 78-1,127.293992,36.588550,Y,20,1,2,20,27,33,34,세종특별자치시 세종시 조치원읍 번암리,행정:조치원읍,78-1,세종특별자치시 세종시 조치원읍 번암리 78-1
172,13,10,401,1,대전광역시 유성구 반석동(행정:노은3동) 612,127.310960,36.395970,Y,20,1,7,17,12,13,26,대전광역시 유성구 반석동,행정:노은3동,612,대전광역시 유성구 반석동 612
173,13,10,401,1,대전광역시 유성구 반석동(노은3동) 612,127.310807,36.395629,Y,20,1,7,17,12,35,23,대전광역시 유성구 반석동,노은3동,612,대전광역시 유성구 반석동 612
456,13,10,401,2,대전광역시 중구 은행동(행정:은행선화동) 216,127.425871,36.328664,Y,20,1,18,16,42,38,26,대전광역시 중구 은행동,행정:은행선화동,216,대전광역시 중구 은행동 216
457,13,10,401,1,대전광역시 중구 은행동(은행선화동) 216,127.425701,36.328539,Y,20,1,18,16,43,49,23,대전광역시 중구 은행동,은행선화동,216,대전광역시 중구 은행동 216
517,19,10,401,1,세종특별자치시 세종시 어진동(도담동) 628,127.266494,36.503056,Y,20,1,21,2,53,20,24,세종특별자치시 세종시 어진동,도담동,628,세종특별자치시 세종시 어진동 628
518,19,10,401,1,세종특별자치시 세종시 어진동(행정:도담동) 628,127.266778,36.502377,Y,20,1,21,2,57,54,27,세종특별자치시 세종시 어진동,행정:도담동,628,세종특별자치시 세종시 어진동 628
971,19,10,401,1,충청남도 아산시 둔포면 봉재리(행정:둔포면) 21-9,127.043013,36.881839,Y,20,2,7,11,1,46,29,충청남도 아산시 둔포면 봉재리,행정:둔포면,21-9,충청남도 아산시 둔포면 봉재리 21-9
972,19,10,401,1,충청남도 아산시 둔포면 봉재리(둔포면) 21-9,127.043023,36.881940,Y,20,2,7,11,6,34,26,충청남도 아산시 둔포면 봉재리,둔포면,21-9,충청남도 아산시 둔포면 봉재리 21-9
1043,13,10,401,1,대전광역시 대덕구 신일동(행정:목상동) 1684-1,127.406275,36.445610,Y,20,2,10,11,49,27,28,대전광역시 대덕구 신일동,행정:목상동,1684-1,대전광역시 대덕구 신일동 1684-1
1044,13,10,401,1,대전광역시 대덕구 신일동(목상동) 1684-1,127.406030,36.445690,Y,20,2,10,11,49,29,25,대전광역시 대덕구 신일동,목상동,1684-1,대전광역시 대덕구 신일동 1684-1
1219,19,10,401,1,충청남도 천안시 동남구 신부동(신안동) 236-1,127.161731,36.833872,Y,20,2,17,13,12,28,27,충청남도 천안시 동남구 신부동,신안동,236-1,충청남도 천안시 동남구 신부동 236-1
1220,19,10,401,1,충청남도 천안시 동남구 신부동(행정:신안동) 236-1,127.161779,36.833938,Y,20,2,17,13,14,35,30,충청남도 천안시 동남구 신부동,행정:신안동,236-1,충청남도 천안시 동남구 신부동 236-1
1233,19,10,402,1,세종특별자치시 세종시 조치원읍 상리(조치원읍) 168-1,127.305194,36.603309,Y,20,2,18,6,32,28,31,세종특별자치시 세종시 조치원읍 상리,조치원읍,168-1,세종특별자치시 세종시 조치원읍 상리 168-1
1273,19,10,402,1,충청남도 아산시 배방읍 장재리(행정:배방읍) 1755,127.105759,36.797449,Y,20,2,19,15,24,14,29,충청남도 아산시 배방읍 장재리,행정:배방읍,1755,충청남도 아산시 배방읍 장재리 1755
1344,19,10,402,1,충청남도 보령시 대천동(행정:대천2동) 288-36,126.591418,36.345574,Y,20,2,21,16,2,11,28,충청남도 보령시 대천동,행정:대천2동,288-36,충청남도 보령시 대천동 288-36
1345,19,10,402,1,충청남도 보령시 대천동(대천2동) 288-36,126.591359,36.345968,Y,20,2,21,16,5,1,25,충청남도 보령시 대천동,대천2동,288-36,충청남도 보령시 대천동 288-36
1369,13,10,401,1,대전광역시 중구 대흥동(대흥동) 119-3,127.429645,36.324932,Y,20,2,22,0,28,6,23,대전광역시 중구 대흥동,대흥동,119-3,대전광역시 중구 대흥동 119-3
1475,19,10,401,1,세종특별자치시 세종시 조치원읍 상리(조치원읍) 168-1,127.305473,36.603421,Y,20,2,28,18,0,3,31,세종특별자치시 세종시 조치원읍 상리,조치원읍,168-1,세종특별자치시 세종시 조치원읍 상리 168-1
1476,19,10,401,1,세종특별자치시 세종시 조치원읍 상리(행정:조치원읍) 168-1,127.305146,36.603240,Y,20,2,28,18,0,8,34,세종특별자치시 세종시 조치원읍 상리,행정:조치원읍,168-1,세종특별자치시 세종시 조치원읍 상리 168-1
1509,19,10,401,1,충청남도 천안시 동남구 청당동(행정:청룡동) 606,127.158475,36.787229,Y,20,3,1,2,8,28,28,충청남도 천안시 동남구 청당동,행정:청룡동,606,충청남도 천안시 동남구 청당동 606
1531,13,10,401,1,대전광역시 서구 갈마동(갈마2동) 1459-1,127.376653,36.348592,Y,20,3,2,7,7,45,25,대전광역시 서구 갈마동,갈마2동,1459-1,대전광역시 서구 갈마동 1459-1
1532,13,10,401,1,대전광역시 서구 갈마동(행정:갈마2동) 1459-1,127.376653,36.348484,Y,20,3,2,7,11,47,28,대전광역시 서구 갈마동,행정:갈마2동,1459-1,대전광역시 서구 갈마동 1459-1
1561,13,10,401,1,대전광역시 대덕구 신일동(행정:목상동) 1673-10,127.400774,36.440873,Y,20,3,4,0,1,29,29,대전광역시 대덕구 신일동,행정:목상동,1673-10,대전광역시 대덕구 신일동 1673-10
1562,13,10,401,1,대전광역시 대덕구 신일동(목상동) 1673-10,127.400827,36.440912,Y,20,3,4,0,2,24,26,대전광역시 대덕구 신일동,목상동,1673-10,대전광역시 대덕구 신일동 1673-10
1604,19,10,401,1,세종특별자치시 세종시 대평동(대평동) 269-30,127.275345,36.467657,Y,20,3,6,2,39,48,27,세종특별자치시 세종시 대평동,대평동,269-30,세종특별자치시 세종시 대평동 269-30
1605,19,10,401,1,세종특별자치시 세종시 대평동(행정:대평동) 269-30,127.275334,36.467688,Y,20,3,6,2,48,58,30,세종특별자치시 세종시 대평동,행정:대평동,269-30,세종특별자치시 세종시 대평동 269-30
1662,19,10,402,3,세종특별자치시 세종시 나성동(새롬동) 340-5,127.260282,36.492248,Y,20,3,9,8,17,38,26,세종특별자치시 세종시 나성동,새롬동,340-5,세종특별자치시 세종시 나성동 340-5
1663,19,10,402,3,세종특별자치시 세종시 나성동(행정:새롬동) 340-5,127.260284,36.492392,Y,20,3,9,8,19,6,29,세종특별자치시 세종시 나성동,행정:새롬동,340-5,세종특별자치시 세종시 나성동 340-5

- 주소 기준을 HPPN_PNU_ADDR으로 해야할지 CLEAN_ADDR로 해야할지 확인 중 
- (행정:ㅇㅇ동)과 (ㅇㅇ동)의 차이로 인한 오류 방지를 위해 CLEAN_ADD로 결정

### 데이터 필터링
- 년, 월, 일, 시간, 주소가 같은 데이터 필터링

In [ ]:
del_same_fillter = pd.DataFrame({'result': del_same.duplicated(['YEAR', 'MONTH', 'DAY', 'HOUR', 'CLEAN_ADDR'], keep = False)})
check_d_true = del_same_fillter[del_same_fillter['result'] == True]
check_d_true

        result
285957    True
285960    True
285951    True
285952    True
285924    True
...        ...
284001    True
283983    True
284019    True
284014    True
284028    True

[34576 rows x 1 columns]

In [ ]:
same_df = del_same.loc[check_d_true.index]
same_df

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285960,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,21,54,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285951,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,Y,20,1,1,0,49,49,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285952,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,Y,20,1,1,0,50,58,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285924,19,10,403,3,충청남도 천안시 동남구 신방동(행정:신방동) 71-23,127.126755,36.789054,Y,20,1,1,1,14,40,30,충청남도 천안시 동남구 신방동,행정:신방동,71-23,충청남도 천안시 동남구 신방동 71-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284001,31,10,406,2.0,세종특별자치시 세종시 연동면 문주리(행정:연동면 ) 1019-1,127.300854,36.549491,Y,23,1,18,23,4,8,35,세종특별자치시 세종시 연동면 문주리,행정:연동면,1019-1,세종특별자치시 세종시 연동면 문주리 1019-1
283983,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,21,42,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284019,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,23,38,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,Y,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6
284028,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741930,36.868214,Y,23,1,18,23,34,30,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6

- same_df에 해당하는 데이터들은 중복처리 할 것임으로 SME_EVT_YN를 C로 바꿈
- 재접수 된 데이터들은 Y, C로 분류됨

In [ ]:
d1_data_test.loc[same_df.index, 'SME_EVT_YN'] = 'C'
d1_data_test.loc[same_df.index]

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,C,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285960,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,C,20,1,1,0,21,54,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285951,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,C,20,1,1,0,49,49,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285952,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,C,20,1,1,0,50,58,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285924,19,10,403,3,충청남도 천안시 동남구 신방동(행정:신방동) 71-23,127.126755,36.789054,C,20,1,1,1,14,40,30,충청남도 천안시 동남구 신방동,행정:신방동,71-23,충청남도 천안시 동남구 신방동 71-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284001,31,10,406,2.0,세종특별자치시 세종시 연동면 문주리(행정:연동면 ) 1019-1,127.300854,36.549491,C,23,1,18,23,4,8,35,세종특별자치시 세종시 연동면 문주리,행정:연동면,1019-1,세종특별자치시 세종시 연동면 문주리 1019-1
283983,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,C,23,1,18,23,21,42,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284019,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,C,23,1,18,23,23,38,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,C,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6
284028,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741930,36.868214,C,23,1,18,23,34,30,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6

In [ ]:
check_same_df = pd.DataFrame({'result': same_df.duplicated(['YEAR', 'MONTH', 'DAY', 'HOUR', 'CLEAN_ADDR'], keep = 'first')})
check_same_df

        result
285957   False
285960    True
285951   False
285952    True
285924   False
...        ...
284001    True
283983   False
284019    True
284014   False
284028    True

[34576 rows x 1 columns]

In [ ]:
# 이 데이터들을 제외한 나머지는 삭제 
check_same_df_T = same_df.drop_duplicates(['YEAR', 'MONTH', 'DAY', 'HOUR', 'CLEAN_ADDR'], keep = 'first')
check_same_df_T

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,Y,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285951,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,Y,20,1,1,0,49,49,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285924,19,10,403,3,충청남도 천안시 동남구 신방동(행정:신방동) 71-23,127.126755,36.789054,Y,20,1,1,1,14,40,30,충청남도 천안시 동남구 신방동,행정:신방동,71-23,충청남도 천안시 동남구 신방동 71-23
285883,13,10,401,1,대전광역시 중구 대사동(대사동) 64-2,127.431339,36.319196,Y,20,1,1,1,17,14,22,대전광역시 중구 대사동,대사동,64-2,대전광역시 중구 대사동 64-2
285885,13,10,401,2,대전광역시 유성구 봉명동(행정:온천1동) 568-9,127.335962,36.353493,Y,20,1,1,1,26,38,28,대전광역시 유성구 봉명동,행정:온천1동,568-9,대전광역시 유성구 봉명동 568-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280450,19,10,401,1.0,충청남도 서산시 읍내동 (부춘동 ) 501-3,126.448967,36.784962,Y,23,1,18,19,29,8,25,충청남도 서산시 읍내동,부춘동,501-3,충청남도 서산시 읍내동 501-3
285653,13,10,403,1.0,대전광역시 동구 대동 (행정:대동 ) 35-10,127.448108,36.327976,Y,23,1,18,22,27,53,26,대전광역시 동구 대동,행정:대동,35-10,대전광역시 동구 대동 35-10
283981,31,10,406,2.0,세종특별자치시 세종시 연동면 문주리(연동면 ) 1019-1,127.301009,36.549341,Y,23,1,18,23,2,7,32,세종특별자치시 세종시 연동면 문주리,연동면,1019-1,세종특별자치시 세종시 연동면 문주리 1019-1
283983,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,Y,23,1,18,23,21,42,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,Y,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6

- check_same_df에서 True 인 인덱스를 d1_data_test에서 삭제

In [ ]:
d1_data_test.drop(check_same_df[check_same_df['result'] == True].index, inplace = True)
d1_data_test[d1_data_test['SME_EVT_YN'] == 'C']

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,ADDR_LEN,ADDR_1,ADDR_2,ADDR_3,CLEAN_ADDR
285957,19,10,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,127.305511,36.479819,C,20,1,1,0,20,1,26,세종특별자치시 세종시 소담동,소담동,32-92,세종특별자치시 세종시 소담동 32-92
285951,19,10,401,1,충청남도 천안시 동남구 안서동(행정:신안동) 159-7,127.190471,36.834160,C,20,1,1,0,49,49,30,충청남도 천안시 동남구 안서동,행정:신안동,159-7,충청남도 천안시 동남구 안서동 159-7
285924,19,10,403,3,충청남도 천안시 동남구 신방동(행정:신방동) 71-23,127.126755,36.789054,C,20,1,1,1,14,40,30,충청남도 천안시 동남구 신방동,행정:신방동,71-23,충청남도 천안시 동남구 신방동 71-23
285883,13,10,401,1,대전광역시 중구 대사동(대사동) 64-2,127.431339,36.319196,C,20,1,1,1,17,14,22,대전광역시 중구 대사동,대사동,64-2,대전광역시 중구 대사동 64-2
285885,13,10,401,2,대전광역시 유성구 봉명동(행정:온천1동) 568-9,127.335962,36.353493,C,20,1,1,1,26,38,28,대전광역시 유성구 봉명동,행정:온천1동,568-9,대전광역시 유성구 봉명동 568-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280450,19,10,401,1.0,충청남도 서산시 읍내동 (부춘동 ) 501-3,126.448967,36.784962,C,23,1,18,19,29,8,25,충청남도 서산시 읍내동,부춘동,501-3,충청남도 서산시 읍내동 501-3
285653,13,10,403,1.0,대전광역시 동구 대동 (행정:대동 ) 35-10,127.448108,36.327976,C,23,1,18,22,27,53,26,대전광역시 동구 대동,행정:대동,35-10,대전광역시 동구 대동 35-10
283981,31,10,406,2.0,세종특별자치시 세종시 연동면 문주리(연동면 ) 1019-1,127.301009,36.549341,C,23,1,18,23,2,7,32,세종특별자치시 세종시 연동면 문주리,연동면,1019-1,세종특별자치시 세종시 연동면 문주리 1019-1
283983,13,10,406,1.0,대전광역시 중구 문화동 (행정:문화1동 ) 1-266,127.414486,36.321280,C,23,1,18,23,21,42,29,대전광역시 중구 문화동,행정:문화1동,1-266,대전광역시 중구 문화동 1-266
284014,19,10,401,1.0,충청남도 당진시 신평면 상오리(신평면 ) 910-6,126.741950,36.868136,C,23,1,18,23,32,32,28,충청남도 당진시 신평면 상오리,신평면,910-6,충청남도 당진시 신평면 상오리 910-6

### 1차 제거 저장
- 연, 월, 일, 시간, 주소가 같으면 동일 사건이라고 인식하고 제거함
- 404707행 : 특정문자 포함된 주소 제거한 데이터 (xy_addr_d1)
- 405544행 : 특정문자 포함된 주소 제거 안한 데이터 (xy_d1)

In [ ]:
d1_data_test.to_csv(path + 'xy_d1.csv', index=False)